<head> </head>
<body>
  <form id="myForm">
    <input type="file" id="csvFile" accept=".csv" />
    <br />
    <input type="submit" value="Submit" />
  </form>
  <script>
    const myForm = document.getElementById("myForm");
    const csvFile = document.getElementById("csvFile");

    function csvToArray(str, limit, delimiter = ",") {
      let newArr = [];
      const headers = str.slice(0, str.indexOf("\n")).split(delimiter);
      const body = str.substring(str.indexOf("\n") + 1);
      const rows = textToArray(body, headers.length);
      let newRows = rows.map((row) => {
        return row.split(",");
      });
      for (let i = 0; i < newRows.length; i += limit) {
        newArr.push(headers);
        for (let j = i; j < i + limit; j++) {
          newArr.push(newRows[j]);
        }
      }
      console.log(newRows);
      for (let i = 0; i < newArr.length; i += limit + 1) {
        let blob = newArr.slice(i, i + limit);
        exportToCsv(blob);
      }
      return;
    }

    function textToArray(str, colum) {
      let flag1 = 0;
      let flag2 = 0;
      let start = 0;
      let myArr = [];
      for (let i = 0; i < str.length; i++) {
        if (str[i] === ",") {
          flag1 += 1;
          if (flag1 === colum) {
            myArr.push(str.substring(start, flag2 + 1));
            flag1 = 0;
            start = flag2 + 1;
          }
        } else if (
          str[i].includes("\r") ||
          str[i].includes("\n") ||
          str[i].includes("\r\n")
        ) {
          flag2 = i;
        }
      }
      return myArr;
    }

    function exportToCsv(rows) {
      var processRow = function (row) {
        var finalVal = "";
        for (var j = 0; j < row.length; j++) {
          var innerValue = row[j] === null ? "" : row[j].toString();
          if (row[j] instanceof Date) {
            innerValue = row[j].toLocaleString();
          }
          var result = innerValue.replace(/"/g, '""');
          if (result.search(/("|,|\n)/g) >= 0) result = '"' + result + '"';
          if (j > 0) finalVal += ",";
          finalVal += result;
        }
        return finalVal + "\n";
      };

      var csvFile = "";
      for (var i = 0; i < rows.length; i++) {
        csvFile += processRow(rows[i]);
      }

      var blob = new Blob([csvFile], { type: "text/csv;charset=utf-8;" });
      console.log(blob);
      console.log(csvFile);
      return blob;
    }

    myForm.addEventListener("submit", function (e) {
      e.preventDefault();
      const input = csvFile.files[0];
      const reader = new FileReader();

      reader.onload = function (e) {
        const text = e.target.result;
        const data = csvToArray(text, 9999);
        document.write(JSON.stringify(data));
      };

      reader.readAsText(input);
    });
  </script>
</body>
